%h1= @poll.title
%p= @poll.description
%p= @poll.managerid
%p= @poll.datestart
%p= @poll.datefinish
%p= @poll.datepublish

%h2= 'Candidats'
%table
 %thead
  %tr
   %th= 'Nom'
   %th= 'Description'
   %th
 %tbody
  - @candidates.each do |candidate|
   %tr
    %td= candidate.user.fullname
    %td= candidate.description
    %td
     = link_to 'Afficher', candidate
     = link_to 'Modifier', edit_candidate_path(candidate)
     = link_to 'Supprimer', candidate, :method => :delete, :data => { :confirm => 'Are you sure ?' }

= link_to 'New Candidate', new_poll_candidate_path(:poll_id => @poll)
