%h1= @poll.title
%p= @poll.description
%p= @poll.user.fullname
%p= @poll.datestart
%p= @poll.datefinish
%p= @poll.datepublish

%h2= 'Candidats'
%table
 %thead
  %tr
   %th= 'Nom'
   %th= 'Description'
   %th= 'Nombre de vote'
   %th
 %tbody
  - @candidates.each do |candidate|
   %tr
    %td= candidate.user.fullname
    %td= candidate.description
    %td= candidate.comptevotes
    %td
     = link_to 'Afficher', candidate
     = link_to 'Modifier', edit_candidate_path(candidate)
     = link_to 'Supprimer', candidate, :method => :delete, :data => { :confirm => 'Are you sure ?' }

= link_to 'New Candidate', new_poll_candidate_path(:poll_id => @poll)

%h2= 'Votes'
%table
 %thead
  %tr
   %th= 'Token'
   %th= 'Clef'
   %th= 'Utilise'
   %th= 'Pour'
   %th
 %tbody
  - @votes.each do |vote|
   %tr
    %td= vote.token
    %td= vote.clef
    %td= vote.used
    %td= vote.candidate_id
    %td
     = link_to 'Afficher', vote
     = link_to 'Modifier', edit_vote_path(vote)
     = link_to 'Supprimer', vote, :method => :delete, :data => { :confirm => 'Are you sure ?' }


= link_to 'New Vote token', new_poll_vote_path(:poll_id => @poll)
